<a href="https://colab.research.google.com/github/Sejuti-Mannan/Data_Science_Week6/blob/main/Homework_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 6

In [ ]:
#Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", 101)

###Data Description

Column | Description
:---|:---
`id` | Record index
`timestamp` | Datetime (YYYY:MM:DD HH:MM:SS) when data was collected
`country` | Current country of employment
`employment_status` | Whether a candidate is Full time, Part time, Independent or freelancer or company owner
`job_title` | Current job title of the candidate
`job_years` | Total job experience (in Years)
`is_manager` | Whether the candidate holds a managerial position or not (Yes or No)
`hours_per_week` | No. of hours per day committed to the current job
`telecommute_days_per_week` | No. of telecommuting days per week (working from home)
`education` | The highest degree in education the candidate has received
`is_education_computer_related` | Is the education related to the field of computer science (Yes or No)
`certifications` | Does the candidate have any relevant certifications (Yes or No)
`salary` | Monthly Salary (in US $$)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

workspace_path = '/content/drive/MyDrive/Data_Science_Bootcamp/DS_Week6'  # Change this path!
print(f'Current Workspace: {workspace_path}')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Current Workspace: /content/drive/MyDrive/Data_Science_Bootcamp/

In [ ]:
# Dataset is already loaded below
data = pd.read_csv(f'{workspace_path}/employee.csv')

In [ ]:
# Dimensions of training data
data.shape

(4277, 13)

In [ ]:
# Print first few rows of data
data.head()

,id,timestamp,country,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,1,12/11/2018 10:52:26,Slovenia,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,2,1/5/2017 16:57:50,United States,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,3,12/18/2017 8:13:15,Sweden,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,4,12/27/2018 4:56:52,United States,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,5,12/11/2018 14:07:58,United States,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [ ]:
# drop id, timestamp and country columns
data = data.drop(columns=['id', 'timestamp','country'])

In [ ]:
# Explore columns
data.columns

Index(['employment_status', 'job_title', 'job_years', 'is_manager',
       'hours_per_week', 'telecommute_days_per_week', 'education',
       'is_education_computer_related', 'certifications', 'salary'],
      dtype='object')

In [ ]:
# replace NANs in hours_per_week with median value of the column
data.loc[data['hours_per_week'].isna(), 'hours_per_week'] = data['hours_per_week'].median()
data.loc[data['telecommute_days_per_week'].isna(), 'telecommute_days_per_week'] = data['telecommute_days_per_week'].median()

In [ ]:
#Handling null values in categorical columns
data = data.dropna() # drops all rows in the DataFrame that contain any NaN (null) values, regardless of which column the null value appears in.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4261 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   employment_status              4261 non-null   object
 1   job_title                      4261 non-null   object
 2   job_years                      4261 non-null   float64
 3   is_manager                     4261 non-null   object
 4   hours_per_week                 4261 non-null   float64
 5   telecommute_days_per_week      4261 non-null   float64
 6   education                      4261 non-null   object
 7   is_education_computer_related  4261 non-null   object
 8   certifications                 4261 non-null   object
 9   salary                         4261 non-null   float64
dtypes: float64(4), object(6)
memory usage: 366.2+ KB

###Data Visualization :

## Feature Encoding and Normalization

Before training the model, we should perform one-hot encoding for all categorical/discrete variables, normalize continuous variables and then combine all data to form the training set.

In [ ]:
# create another copy of dataset and append encoded features to it
data_train = data.copy()
data_train.head()

,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [ ]:
# select categorical features
cat_cols = [c for c in data_train.columns if data_train[c].dtype == 'object'
            and c not in ['is_manager', 'certifications']]
cat_data = data_train[cat_cols]
cat_cols

['employment_status',
 'job_title',
 'education',
 'is_education_computer_related']

In [ ]:
#Encoding binary variables
binary_cols = ['is_manager', 'certifications']
for c in binary_cols:
    data_train[c] = data_train[c].replace(to_replace=['Yes'], value=1)
    data_train[c] = data_train[c].replace(to_replace=['No'], value=0)

In [ ]:
final_data = pd.get_dummies(data_train, columns=cat_cols, drop_first= True,dtype=int)
final_data.shape

(4261, 25)

In [ ]:
final_data.columns

Index(['job_years', 'is_manager', 'hours_per_week',
       'telecommute_days_per_week', 'certifications', 'salary',
       'employment_status_Independent or freelancer or company owner',
       'employment_status_Part time', 'job_title_Analytics consultant',
       'job_title_Architect', 'job_title_DBA', 'job_title_Data Scientist',
       'job_title_Developer', 'job_title_Engineer', 'job_title_Manager',
       'job_title_Other', 'job_title_Principal database engineer',
       'job_title_Sales', 'job_title_Sr Consultant ',
       'education_Bachelors (4 years)', 'education_Doctorate/PhD',
       'education_Masters', 'education_None (no degree completed)',
       'is_education_computer_related_Unknown',
       'is_education_computer_related_Yes'],
      dtype='object')

In [ ]:
final_data

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,salary,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
0,4.783930,1,40.0,0.0,0,7187.743094,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
1,5.000000,0,40.0,5.0,0,10000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,1.000000,0,40.0,0.0,1,7000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
3,1.000000,0,40.0,2.0,0,8333.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3.000000,0,40.0,2.0,1,7137.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,2.000000,1,40.0,0.0,0,4917.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4273,4.140793,1,40.0,0.0,0,7033.845701,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4274,5.000000,0,40.0,0.0,0,7166.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4275,4.000000,1,40.0,2.0,0,9583.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4276,1.000000,0,40.0,5.0,1,9166.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0

## Train Test Split

In [ ]:
y = final_data['salary']
X = final_data.drop(columns=['salary'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print("Training Set Dimensions:", X_train.shape)
print("Validation Set Dimensions:", X_test.shape)

Training Set Dimensions: (3408, 24)
Validation Set Dimensions: (853, 24)

## Pre-processing data

### Standardization (Z-score normalization):

$$ x_{\text{std}} = \frac{x - \mu}{\sigma} $$

- **Purpose:** Standardization transforms the data to have a mean of 0 and a standard deviation of 1.
- **Properties:**
  - Centers the data around 0.
  - Rescales the data to have unit variance.
  - Does not bound the data within a specific range.
  - Preserves the shape of the distribution.
- **Use Cases:**
  - Algorithms that assume zero-centered data or require features to have a similar scale (e.g., gradient descent-based algorithms, support vector machines).
  - When the distribution of the features is Gaussian-like.

### Normalization (Min-Max scaling):

 $$ x_{\text{norm}} = \frac{x - \min(x)}{\max(x) - \min(x)} $$

- **Purpose:** Normalization scales the data to a fixed range, typically [0, 1] or [-1, 1].
- **Properties:**
  - Scales the data to a specified range.
  - Shifts the data to start at 0.
  - Does not affect the shape of the distribution.
  - Preserves the relative relationships between data points.
- **Use Cases:**
  - Neural networks, especially those with activation functions sensitive to input magnitudes (e.g., sigmoid or tanh functions).
  - When the distribution of the features is unknown or non-Gaussian.

**Choosing Between Standardization and Normalization:**
- Use standardization when the distribution of your features is approximately Gaussian-like and you want to center the data and rescale it to have unit variance.
- Use normalization when the scale of your features is important, or when you need to bound the features within a specific range.
- It's often beneficial to try both preprocessing techniques and evaluate their effects on model performance to determine which one works best for your specific dataset and model.

In [ ]:
# select numerical features
num_cols = ['job_years','hours_per_week','telecommute_days_per_week']
num_cols

['job_years', 'hours_per_week', 'telecommute_days_per_week']

In [ ]:
# Apply standard scaling on numeric data
scaler = StandardScaler()
scaler.fit(X_train[num_cols])
X_train[num_cols] = scaler.transform(X_train[num_cols])

In [ ]:
X_train

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
3507,0.762479,0,0.642516,-0.620289,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
1596,1.261543,1,-0.492253,-0.620289,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
3506,-1.732841,0,-0.492253,-0.620289,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
25,1.261543,1,1.777284,-0.620289,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3113,0.263415,0,-0.492253,0.607321,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1251,-0.076622,1,-0.145455,0.607321,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
1774,0.263415,1,-0.492253,1.221127,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
425,0.762479,1,-0.492253,0.607321,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3478,-1.233777,0,-0.492253,-0.620289,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0
2597,0.263415,0,-0.492253,0.607321,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1

In [ ]:
#Fitting a Linear Regression Model
reg=LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [ ]:
reg.coef_

array([ 2.20268523e+02,  7.76997591e+01,  1.96539207e+02,  2.11223468e+02,
        7.18518965e+01,  5.99883303e+00,  4.40949918e+01, -2.21495582e+03,
        9.98235953e+02,  7.52891474e+02,  3.62952862e+02,  4.52261234e+02,
        9.28157017e+02,  6.85265974e+02, -3.90270329e+01,  1.13686838e-13,
        6.14426480e+02,  3.57361477e+03,  4.14841786e+02,  1.22182135e+02,
        2.46928609e+02,  2.92284690e+02, -3.08131638e+02, -1.78100597e+02])

In [ ]:
reg.intercept_

6176.826255636987

Just to recall

$\hat{y} = \alpha + \beta_1 * X_1 + \beta_2 * X_2 +...$

Our Final model is given by -

$\hat{y} = 6145.79 + 1.887 * X_1 + 7.22 * X_2 +...$

In [ ]:
# Normalized MSE (Dividing by mean)
mean_squared_error(y_train,reg.predict(X_train))/np.mean(y_train)

209.99289341792021

In [ ]:
# Predict on the test data
y_pred = reg.predict(X_test)

In [ ]:
#Evaluate the model on test data
mse = mean_squared_error(y_pred, y_test)/np.mean(y_test)
print("Mean Squared Error:", mse)

Mean Squared Error: 12208.095425299918

*A lower MSE indicates that the model's predictions are closer to the actual values on average, while a higher MSE suggests larger errors between predictions and actual values.
❗Pre-processing on Test data not done.

In [ ]:
#Q1. Preprocess Test data and get predictions

In [ ]:
scaler.fit(X_test[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

In [ ]:
X_test

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
541,0.252040,1,-0.472447,2.246655,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3342,-0.802824,1,0.499277,0.508164,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4245,0.066899,0,0.175812,-0.650830,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2207,-1.294365,0,-0.472447,-0.071333,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
3696,0.252040,0,-0.472447,-0.650830,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2620,1.798444,1,-0.472447,-0.650830,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
424,2.829381,0,-0.472447,-0.650830,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1448,-0.778897,0,-0.472447,-0.650830,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0
889,0.140663,1,-0.114955,-0.650830,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
1832,-1.809833,0,2.436795,-0.650830,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [ ]:
y_hat = reg.predict(X_test)

In [ ]:
y_hat

array([7998.56340991, 7272.78562339, 7150.12996061, 6129.80934523,
       6248.94631811, 6132.45020126, 8184.06565918, 7508.62219128,
       7698.09100522, 7304.34560361, 6837.51941575, 6541.63703943,
       6991.65037205, 6814.44818672, 7323.73914927, 7426.30492718,
       8253.14722762, 6888.61389077, 7308.30902955, 7675.89633662,
       7544.83927173, 6731.54931711, 7238.75001655, 7171.38019476,
       6829.5255203 , 6731.54931711, 6438.03730388, 7728.52493117,
       7695.37472075, 6655.20281563, 6185.50656182, 6068.94125106,
       7175.84476388, 7558.69519654, 7855.01058741, 6949.96084253,
       7945.99900489, 6991.65037205, 7073.57652777, 6342.36674293,
       7775.74038194, 6194.49477843, 7138.72974722, 7826.52364752,
       7208.02206253, 6935.58312947, 8798.69809938, 7644.17412697,
       6535.1190564 , 7738.7703856 , 6895.58909119, 7836.64906561,
       7164.26421297, 7416.86840891, 7636.164475  , 7292.45584362,
       8506.41340949, 6145.09553623, 6986.73521945, 7064.65229071,
       7030.79305862, 6782.82914786, 7723.9961073 , 7001.7246313 ,
       7376.58442263, 7106.82102364, 7300.65937975, 7073.6896883 ,
       6535.88382795, 7164.26421297, 7072.36422304, 7355.14429162,
       7001.7246313 , 6511.97938326, 8044.18213353, 7179.82522841,
       7237.3455339 , 6613.4889359 , 6923.18600657, 7311.96292076,
       6600.80671408, 6725.65952445, 6902.86691668, 6933.47122796,
       7114.05375256, 7691.55445345, 7113.11058753, 6346.71505128,
       7364.00624614, 7207.23653181, 7302.22860892, 7629.34505618,
       7304.34560361, 6817.63768642, 7128.14865717, 6439.30153945,
       7819.38425483, 5964.31385176, 6648.66048239, 7030.79305862,
       6939.93298863, 7150.12996061, 7645.37838552, 7177.04369451,
       7678.44829244, 7481.2638941 , 6832.59914924, 6697.01896538,
       6691.02013235, 6860.92227514, 6820.98839097, 6991.65037205,
       8172.93736452, 7050.42960714, 7735.28945168, 7245.3190876 ,
       7164.26421297, 5603.85695404, 6991.65037205, 6860.92227514,
       7501.29848187, 6655.20281563, 7062.705886  , 7165.89479404,
       6999.86384675, 7030.79305862, 6788.46960367, 7691.21138402,
       7816.55392782, 6103.67058458, 7419.19111807, 7150.12996061,
       7666.53095448, 6905.66335044, 7167.4771832 , 8114.52444143,
       6500.91936236, 7416.5784609 , 6893.46724341, 7607.98128478,
       6991.65037205, 5830.93980602, 7319.70438372, 6920.9031205 ,
       6800.57774961, 7825.25782286, 6726.36024145, 7247.44798293,
       7050.44889811, 7063.50226852, 6946.32940618, 7225.96595295,
       7177.04369451, 6313.0694542 , 6787.43716167, 7580.23937288,
       7028.29465973, 7786.39998829, 7598.63462018, 6830.211261  ,
       7107.3397622 , 6349.72573393, 7028.29465973, 7424.07514491,
       7107.3397622 , 6923.18600657, 6950.44391702, 6625.45454361,
       5794.78061415, 6617.9398553 , 7275.0957132 , 6827.96359138,
       7290.8379172 , 7737.60196901, 7923.52066288, 7185.90564903,
       7030.79305862, 6988.61293518, 6394.54439965, 7055.00371494,
       6398.43795727, 6991.65037205, 7191.95027263, 6974.07033291,
       7533.59214348, 7195.97990828, 6731.54931711, 7032.66500113,
       5872.62933554, 6615.18442714, 6583.83127974, 6349.72573393,
       8036.76846211, 7181.45445401, 7364.39024916, 7853.61976819,
       6356.29416245, 7736.6678642 , 5784.59319437, 7151.43522286,
       6957.43793072, 6883.49946231, 7150.12996061, 6871.53987501,
       6729.14239094, 6805.60506394, 7943.24744409, 7001.83779183,
       7173.00942035, 8464.64565326, 6621.42120913, 7114.05375256,
       7127.90772391, 7304.84560428, 7358.58053578, 6415.00204862,
       7169.75096916, 7836.64906561, 7516.86564021, 7872.51960409,
       6345.09849446, 6537.48466809, 6731.54931711, 6831.4697566 ,
       7130.26143604, 7319.52616255, 6884.24368194, 6699.21196643,
       7539.33362446, 8325.39297294, 6655.20281563, 6296.02410304,
       7667.67400296, 8050.54017081, 6387.5043785 , 6712.65277637,
       6829.5255203 , 6674.1548391 , 7694.57904956, 7172.12854191,
       7200.63341506, 7646.25136491, 6126.45176681, 7458.75109453,
       6973.28885025, 7294.6581845 , 6959.23871926, 7748.00927566,
       6990.56132377, 6551.95413056, 7717.2087006 , 7290.32633023,
       7819.083167  , 7299.54823252, 6731.73994507, 6869.12072946,
       8185.63488834, 7062.48464057, 7231.5408869 , 5706.84199066,
       6433.01417532, 7054.88361026, 7169.75096916, 7816.55392782,
       7408.19961049, 5859.89663798, 6416.85949544, 7030.79305862,
       6860.92227514, 6554.96481322, 7722.84943271, 6938.64525133,
       7374.79011344, 7706.90405154, 7290.5851205 , 7030.79305862,
       6841.21128839, 7183.25625092, 7143.99560495, 6672.26651008,
       7150.12996061, 6731.54931711, 7564.64710446, 8171.37440456,
       6724.49628804, 7998.56340991, 7316.73008513, 7412.11700018,
       6648.66048239, 6991.65037205, 7114.05375256, 8359.21156543,
       6481.66118941, 6859.19469682, 6878.10894606, 7062.08746352,
       6398.43795727, 5768.7367321 , 6085.10572378, 6731.54931711,
       6900.97858766, 7494.76132407, 6609.33656456, 6219.19308612,
       7638.8374571 , 7166.91591533, 6932.36346811, 6651.10708159,
       7150.12996061, 7586.26486926, 7155.61147369, 7578.62163993,
       7668.36842565, 7368.28487956, 6533.62273803, 7237.3455339 ,
       6691.02013235, 6837.51941575, 6569.69733058, 6989.89488437,
       8148.861605  , 6253.58622637, 6764.56752007, 6721.24876495,
       7260.46476084, 7319.30262469, 6731.54931711, 6731.54931711,
       6537.48466809, 6960.03510178, 6879.73817166, 7358.73425151,
       5962.69379148, 6678.22860702, 6935.58312947, 7063.50226852,
       6991.65037205, 6810.91413172, 7155.61147369, 7406.57038489,
       6942.55275589, 7236.45713307, 7856.63257695, 7031.44729202,
       8393.54210394, 7030.79305862, 7353.38981653, 6441.55671503,
       7631.20939847, 6863.32678379, 6973.28885025, 6649.39686848,
       6860.92227514, 7351.07913781, 8103.88952693, 6836.41941654,
       5876.5877326 , 7237.3455339 , 7030.79305862, 7113.79508878,
       6062.01989946, 7563.30321035, 6836.41941654, 7218.66695838,
       6817.77755985, 7404.12654649, 6299.34393036, 6664.40251412,
       7234.84467689, 6883.49946231, 7449.96949034, 8129.49424597,
       7555.14836611, 7172.29692059, 6829.5255203 , 7336.34771402,
       7414.40401445, 7030.79305862, 6304.96859413, 7572.29252052,
       7753.21893014, 6829.5255203 , 7117.44501003, 7060.78301693,
       6933.31751223, 6923.18600657, 7226.71230665, 6533.62273803,
       6991.65037205, 6577.47870636, 7165.46156072, 6577.47870636,
       6587.98365108, 7314.84558132, 7178.93887312, 6122.64288195,
       6607.53555762, 6860.88551976, 7014.52001365, 7441.7060052 ,
       7610.35423205, 7374.08050539, 6648.01541142, 6830.211261  ,
       6533.62273803, 6767.91371605, 7767.76010224, 6853.05120546,
       7119.93505959, 6935.82689338, 6845.28137106, 6243.20700176,
       7032.66500113, 6790.69716893, 6351.35495953, 7080.58080048,
       7150.12996061, 6624.58140156, 7513.60482678, 8461.40580202,
       6406.79751671, 7634.48607995, 6952.42438498, 6668.50623921,
       7853.61976819, 7171.38019476, 7030.79305862, 7060.60862504,
       6755.57930347, 6965.4116109 , 6958.82279705, 6829.5255203 ,
       6722.87799055, 7691.21138402, 6534.47398543, 6398.43795727,
       6518.62944182, 7258.7272623 , 7806.40943408, 7330.57915877,
       7591.08909812, 6994.82566892, 6283.20104004, 7218.63333002,
       8050.54017081, 6938.2696382 , 7685.59343034, 7631.35326838,
       8104.81211055, 7250.70545084, 7421.15285284, 6829.5255203 ,
       7007.67878985, 6893.46724341, 7453.04401409, 6609.33656456,
       6829.5255203 , 7508.67975588, 6112.18420952, 6732.22301956,
       6687.03632362, 7035.71747432, 6862.5105215 , 7065.07149769,
       7629.34505618, 7408.19961049, 7063.50226852, 7164.26421297,
       6378.64242398, 7316.46757086, 7063.50226852, 6754.76469067,
       7017.69905816, 8016.79988744, 6909.68682645, 7054.88361026,
       8253.54107646, 6817.77755985, 7705.86853428, 7516.19930602,
       5962.69379148, 7486.9473454 , 7056.20954317, 7923.52066288,
       6762.93829447, 6182.48267705, 7696.02136629, 6949.96084253,
       6217.99920213, 7170.47569823, 6854.94294651, 6949.96084253,
       6885.27540933, 6372.59537553, 6727.4140911 , 6962.41275694,
       7304.34560361, 6892.84347153, 6503.16546304, 6577.58945173,
       6825.36642032, 7612.68453624, 7107.3397622 , 6463.93728037,
       6731.54931711, 6655.20281563, 6764.56752007, 7177.04369451,
       7139.40102064, 7559.357502  , 6577.58945173, 6092.38989735,
       6009.10145596, 7138.27400444, 7234.84467689, 7332.27515942,
       7484.35846619, 7691.21138402, 7351.07913781, 5784.89007931,
       7510.37524713, 7565.78842568, 8097.44218027, 7678.69349201,
       7928.94521629, 7081.95301596, 6888.61389077, 7304.34560361,
       7539.41185117, 7374.79011344, 6576.46107841, 7559.357502  ,
       6055.3698409 , 6731.54931711, 6697.37270573, 6609.33656456,
       7585.30575281, 7276.90050299, 6817.77755985, 6554.41725994,
       6886.8446385 , 7180.24214928, 6887.05411238, 7316.46757086,
       6869.12072946, 7437.09799139, 6474.70370484, 6562.19754214,
       7695.72746399, 7031.44729202, 6887.05411238, 7009.37428109,
       7332.2847928 , 6991.65037205, 6144.52596475, 6080.95335243,
       6731.54931711, 7290.5851205 , 7722.84943271, 7150.12996061,
       6612.68276054, 6999.002738  , 7473.0833927 , 6764.56752007,
       7511.41314378, 8098.31012096, 6084.30339139, 6711.82499433,
       6762.93829447, 7364.00624614, 6942.55275589, 7565.78842568,
       7263.60540809, 7565.78842568, 7067.02525238, 6011.67604635,
       7773.33973791, 7492.51610297, 6446.77754535, 7191.75351162,
       6987.10223883, 6421.37314162, 7679.59223508, 7037.9969837 ,
       7107.56937079, 6623.28540464, 6606.80554711, 7516.19930602,
       7231.29821656, 6533.62273803, 7397.5870276 , 7119.93505959,
       6683.23875657, 6829.5255203 , 6749.1364945 , 6310.6107948 ,
       7711.62342756, 7177.04369451, 6348.76662878, 7114.58188854,
       7033.27363592, 6755.13532752, 7694.56274136, 7031.44729202,
       6577.58945173, 7511.12599835, 7609.77717765, 7561.73507475,
       7150.12996061, 7470.31494321, 7097.83280704, 6655.20281563,
       6537.48466809, 7304.34560361, 7374.08050539, 7645.37838552,
       7652.68987881, 6957.19357145, 7849.68083878, 7796.38288725,
       6681.89813073, 7631.08313639, 6661.21351386, 7218.63333002,
       6299.34393036, 7149.25890031, 7275.00076226, 7058.22524872,
       7684.13845527, 6477.10916713, 6521.53267144, 7816.55392782,
       7664.61561098, 6842.1135634 , 7220.23618755, 7545.90515484,
       6920.9031205 , 7816.55392782, 6621.38147961, 6991.65037205,
       7530.9085756 , 6451.49764648, 6034.54568795, 6349.37822643,
       7212.97458709, 6989.9548808 , 6682.41788511, 6574.85231183,
       7083.75957721, 7374.88893139, 6920.9031205 , 6498.70956634,
       8129.49424597, 7332.2847928 , 6620.37708481, 7779.66789713,
       6415.00204862, 7309.10933783, 7185.90564903, 7378.62126167,
       6599.67822751, 7914.41866844, 6422.24775085, 6823.73719472,
       6510.28389202, 6632.66457228, 7222.80628803, 7164.26421297,
       7201.93076997, 6869.12072946, 7185.90564903, 7603.66727461,
       6308.03620442, 6294.97079053, 7830.50745625, 6710.19576873,
       7468.68571761, 6027.25172154, 6944.29734277, 7292.87907874,
       6808.63462234, 7234.84467689, 6965.4116109 , 6136.34252839,
       5877.37492415, 7292.87907874, 7478.90784785, 6678.58049846,
       6888.61389077, 7056.41852186, 7001.83779183, 7468.75028268,
       6837.51941575, 6073.86960578, 7222.80628803, 7631.08313639,
       7241.60286563, 6261.62853993, 6494.5592545 , 7850.62989285,
       6584.71143528, 6609.33656456, 7378.09111288, 8096.02512146,
       6503.2611982 , 7030.79305862, 6609.33656456, 6862.34369305,
       7445.81607601, 6586.03690054, 7561.97774509, 7276.90050299,
       6727.4140911 , 7294.6581845 , 6883.96021792, 7054.88361026,
       6972.97360721, 7352.5136928 , 6651.02609408, 7258.81651757,
       6831.4697566 , 6949.96084253, 7646.25136491, 7069.35013111,
       6883.49946231, 7925.07053235, 7427.24898479, 7528.12177818,
       6845.28137106, 6990.53288442, 7063.50226852, 7267.62192427,
       6258.09484439, 7234.84467689, 6531.96890954, 6577.58945173,
       6830.211261  , 6965.4116109 , 7333.37250237, 6516.87509568,
       7182.8915571 , 6691.02013235, 7105.94014519, 7870.61857671,
       6759.75806998, 7561.97774509, 7823.45469519, 7490.12584862,
       7358.73425151, 6637.29787176, 7625.6341618 , 7144.4698031 ,
       6921.50592789, 8017.59626996, 7013.52665243, 6654.50834497,
       6554.96481322, 6655.32943586, 6648.66048239, 7069.50110155,
       6308.17899203, 7484.35846619, 7603.66727461, 7404.46424199,
       6817.77755985, 6422.24775085, 6883.49946231, 7758.94930656,
       6560.70775324, 6754.90918302, 6449.68435902, 7255.88849443,
       7006.1391255 , 7063.50226852, 6878.16722277, 7625.22048375,
       7713.29284076, 6886.97090058, 7235.84222057, 5929.12642111,
       6700.99162302, 6141.34888412, 6609.33656456, 7316.73008513,
       7150.12996061, 7799.3753725 , 6719.05772325, 6162.63692023,
       7444.73664899, 7050.93201852, 7339.82996492, 6671.7272981 ,
       7150.12996061, 6877.98268398, 6965.4116109 , 7031.64441032,
       6731.54931711, 7448.25991441, 7447.37903596, 7164.26421297,
       7035.43153212, 6623.56776477, 6759.11413061, 7063.50226852,
       7050.93201852, 6299.34393036, 7014.52001365, 6888.61389077,
       6869.12072946, 6965.4116109 , 6577.58945173, 7165.46156072,
       6140.79314753, 7022.21794889, 6804.56155834, 7150.12996061,
       7016.24788144, 6869.12072946, 7009.24801901, 7016.40834267,
       7370.00507917, 7080.58080048, 6254.33457352, 7804.16426303,
       6348.03024269, 7177.04369451, 6260.27467843, 7568.94045249,
       6953.09558592, 6719.39109466, 6098.82624375, 6852.60366123,
       6822.28546738, 7112.42452696, 6594.95885149, 6782.0476652 ,
       6965.4116109 , 8339.29661468, 8131.13769595, 6860.92227514,
       6977.08442484, 6840.57178788, 6449.54202246, 7157.45073439,
       7285.63462956, 7144.4698031 , 6931.68828663, 7237.3455339 ,
       7313.91312822, 7631.20939847, 6538.47519865, 6814.44818672,
       7604.56183539])

In [ ]:
# Normalized Mean Absolute Error (Dividing by mean)
mae_test= mean_absolute_error(y_test,y_hat)/np.mean(y_hat)
print("Test Mean Abosulte Error: ",mae_test)

Test Mean Abosulte Error:  0.12080346400216337

In [ ]:
# Normalized Mean Squared Error (Dividing by mean)
mse_test = mean_squared_error(y_test,y_hat)/np.mean(y_hat)
print("Test Mean Squared Error: ",mse_test)

Test Mean Squared Error:  207.92555328407025